
{% extends 'base.html.twig' %}

{% block javascripts %}
        
{% endblock %}

{% block body %}
    <div class="alert alert-primary" style="text-align:center" role="alert">
            
        
        {% if app.user %}
                
            <td>{{ question.text }}</td>

                {% if question.type == "O/N" %}

                    {{ form_start(form) }}
                        <div class="col-md-2">{{ form_row(form.value) }}</div>
                        <button class="btn btn-primary">{{ button|default('enregistrer') }}</button>
                    {{ form_end(form, {'render_rest': false}) }}

                {% elseif  question.type == "QCM" %}

                    {{ form_start(form3) }}
                        <div class="col-md-2">{{ form_row(form3.value) }}</div>
                        <button class="btn btn-primary">{{ button|default('enregistrer') }}</button>
                    {{ form_end(form3, {'render_rest': false}) }}

                {% else %}

                    {{ form_start(form2) }}
                        <div class="col-md-2">{{ form_row(form2.value) }}</div>
                        <button class="btn btn-primary">{{ button|default('enregistrer') }}</button>
                    {{ form_end(form2, {'render_rest': false}) }}

                {% endif %}

        {% endif %}
    </div>
{% endblock %}