{% extends 'base.html.twig' %}

{% block title 'Gestion des reponses' %}

{% block body %}
    <div class="container mt-4">

        <h1>Gestion des reponses</h1>
        <br>
        <div class="text-center">
            <a href="{{ path('admin.question.index') }}" class="btn btn-primary">Liste des questions</a>
            <a href="{{ path('admin.reponse.index') }}" class="btn btn-primary">Liste des reponses</a>
        </div>
        <br>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
        {% endfor %}
            {% for question in questions %}
           
            <br><br><br>

            <h4>{{ question.id }} - {{ question.text }}</h4>

            <table class="table table-striped">
            <thead>
            <tr>
                <th>Employé</th>
                <th>Réponse</th>
            </tr>
            </thead>
            <tbody>
                {% for reponse in reponses %}
                    {% if reponse.getIdQuestion() == question.id %}
                        <tr>
                            <td>
                                {% if reponse.getIdUser() %}
                                    
                                    {% for user in users %}
                                        {% if reponse.getIdUser() == user.id %}
                                            {{ user.userName }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Anonyme
                                {% endif %}
                            </td>
                            <td>{{ reponse.value }}</td>

                        </tr>
                    {% endif %}

                {% endfor %}

            </tbody>
            </table>

                
            {% endfor %}

    </div>     
{% endblock %}